 
 
 
.body{
    font-style: initial;
}
 
* {
    margin: 0;
    padding: 0;
}

.me {
    
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.myName {
    font-size: 2em;
    top: 4em;
    padding: 2em 3em;

}
 
.contact-info {
    text-align: center;
    padding: 30em;
    justify-content: space-around;
    margin-left: auto;
}
 
.profil-image {
    margin-right: auto;
    position: absolute;
    right: 0em;

}
 
.summery {
    background-color: yellow;
    padding: 5em;
    text-align: center;
}
.segment {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-size: auto;
    width: 100%;
    text-align: center;
    position: relative;
}

.segment > img {
    width: 100%;
}
.segment > div {
    position: absolute;
    left: 0;
    top: 0.5em; 
    right: 0;
    bottom: 0;
}
 
#aboutMe {
    height: auto;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s;
}
 
#knowleageID {
    height: auto;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s;
    background-image: url("./image/ivan-gromov-Y3vPEuNlf7w-unsplash.jpg");
   
}
 
#expreienceeID {
    height: auto;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s;    
}
 
#edjucationnID {
    height: auto;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s;  
}
#laungeugeeID {
    height: auto;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s;  
}
 
 
.knapp {
   border: none;
   background-color: transparent;
   font-size: 5em;
   cursor: pointer;
}

