


.body{
    font-style: initial;
}

* {
    margin: 0;
    padding: 0;
}
.myName {
    text-align: center;
    justify-content: center;
    padding: 1em;
    border-bottom-style: solid;
    border-color: red;
}

.contact-info {
    background-color: yellow;
    text-align: center;
    padding: 30em;
    justify-content: space-around;
    margin-left: auto;
}

.profil-image {
    margin-right: auto;
    position: absolute;
    right: 0em;
    top: 5em;
}

.summery {
    background-color: yellow;
    padding: 5em;
    text-align: center;
}

.knowleage {
    background-color: yellow; 
    padding: 5em;
    text-align: center;
}

.expreience {
    background-color: yellow; 
    padding: 5em;
    text-align: center;
}

.edjucation {
    background-color: yellow;
    padding: 5em;
    text-align: center;
}

.laungeuge {
    background-color: yellow; 
    padding: 5em;
    text-align: center;
}

.aboutMe {
    background-color: yellow; 
    padding: 5em;
    text-align: center;
}

#aboutMe {
    height: auto;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s;
}